<main>

  <% if @current_user %>
    <h1>Welcome <%= @current_user.fname %>!</h1>



    <% if @followers %>
    <h2>Followers</h2>
    <ul>
      <% @followers.each do |follower| %>
      <li>
        <%= "#{ follower.fname } #{ follower.lname }" %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <% if @following %>
    <h2>Following</h2>
    <ul>
      <% @following.each do |leader| %>
      <li>
        <%= "#{ leader.fname } #{ leader.lname }" %>
      </li>
      <% end %>
    </ul>
    <% end %>

  <% else %>
    <h1>NOT LOGGED IN</h1>
    <form action="/login" method="POST">

      <input
        type="email"
        name="email"
        placeholder="Email">

      <input
        type="password"
        name="password"
        placeholder="Password">

      <input type="submit">

    </form>
  <% end %>
</main>
