<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/sitewide.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts">View All Posts</a>
          </li>
          <% if current_user %>
          <li>
            <a href="/post/new">Create a Post</a>
          </li>
          <li>
            <a href="/profile">Profile Page</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
          <% else %>
          <li>
            <a href="/signup">Signup</a>
          </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% if flash[:notice] %>
      <em class="notice">
        <%= flash[:notice] %>
      </em>
    <% end %>
    <% if flash[:alert] %>
      <strong class="alert">
        <%= flash[:alert] %>
      </strong>
    <% end %>

    <%= yield %>

    <footer>

    </footer>

  </body>

</html>
