<form method="POST" action="/signup">

      <input 
        type="text"
        name="[user]fname"
        placeholder="First Name">

      <input
        type="text"
        name="[user]lname"
        placeholder="Last Name">

      <input
        type="email"
        name="[user]email"
        placeholder="Email">

      <input
        type="password"
        name="[user]password"
        placeholder="Password">

      <input type="submit">
</form>